<!DOCTYPE html>
<html 4email>

<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body class="vsc-initialized" data-gr-ext-installed="" data-new-gr-c-s-check-loaded="14.1080.0">
    <p>
        Hey everyone,
        <br /> <br />
        There was a typo in the previous email. There won't be any practice on 30th Sep Friday as we will have our
        Mid Autumn
        Festival performance at 8 pm. Please come and see us perform at Ho Plaza. There will be snacks!
    </p>
    <p>
        Just to clarify, here is the final practice shcedule:
    <ul>
        <li>Monday ({{ monday }}) 7:30-9:00 pm at Barton Hall</li>
        <li>Saturday ({{ saturday }}) 7:30-9:00 pm at Barton Hall</li>
    </ul>
    </p>
    See you all soon,<br />
    Pratyush Sudhakar<br />
    Cornell Wushu Secretary
    </p>
    <div style="display: block; align-items: center;align-content: center;align-items: center;">
        <img src="cid:gif"
            style="height: 100px; width: 100px;margin-top: auto;margin-bottom: 3px;align-self: center;" />
        <h1
            style="color:#B22222; align-self: center; margin-top: auto;margin-bottom: auto;font-family: 'Fira Sans'; font-size: xx-large;padding-top: 2px;">
            Cornell Wushu</h1>
    </div>
</body>

</html>