<html>

<head>
    <title></title>
</head>

<body class="vsc-initialized" data-gr-ext-installed="" data-new-gr-c-s-check-loaded="14.1080.0">
    <p>Hi everyone!</p>

    <p>Hope you all are doing great! Our practice schedule for this
        week is as follows:
    <p><span style="color:#B22222;"><span style="font-size:large;"><strong>This
                    Week's&nbsp;Practice&nbsp;Schedule</strong></span></span></p>

    <p>This is our practice schedule for the week.&nbsp;</p>

    <ul>
        <!-- <li>Monday ({{ monday }}) 7:30-9:00 pm at Barton Hall</li> -->
        <li>Friday ({{ friday }}) 6:50-8:20 pm at Helen Newman Hall</li>
        <li>Saturday ({{ saturday }}) 7:30-9:00 pm at Barton Hall</li>
    </ul>

    <p><span style="color:#B22222;"><span style="font-size:large;"><strong>Upcoming Socials</strong></span></span></p>

    <p><em>Karaoke Night! - Philips Hall 101 on Friday {{ friday }}&nbsp;after practice</em></p>
    <p style="margin-left: 40px;">By popular demand, we're having Karaoke Night Social at Philips Hall 101 after friday
        practice, around 9:30 pm.
    </p>

    <p><em>Halloween Social! - Sunday 10/30&nbsp;4:00 - 8:00 pm</em></p>


    <!-- <p><span style="color:#B22222;"><span style="font-size:large;"><strong>Wushu Games and Wushoes Interest Form
                </strong></span></span>
    </p>

    <p>Cornell Wushu is invited to participate in Wushu Games which is an annual wushu competition held at the
        University of Maryland every fall semester that wushu athletes from across the country come to compete in forms.
        It will be held on Saturday, December 3. All members are welcome to participate in the competition or just come
        to Maryland to support the club. The minimum requirement to compete is knowledge of long fist 3 which we will be
        going over in the upcoming weeks.
        <br /><br />
        Also, we will be bulk ordering Wushoes this semester. You are eligible to get a pair of shoes if you came to at
        least one practice in the past year.
        <br /><br />
        Please fill out <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSdM5hj4C5QYvR67LOT0IQuru-reDiMagzBELgRhJjC_DPMmTw/viewform">this
            form</a> if you'd like to particpate in the competition and/or order a pair of Wushoes. Please fill out this
        form ASAP. Due by October 15th 11:59 pm.
    </p> -->

    <p><span style="color:#B22222;"><span style="font-size:large;"><strong>Wushu Bios 2022-23</strong></span></span>
    </p>

    <p>We will soon be updating our website. If you'd like to be in the spotlight &#128521;, fill out the form below to
        have your bios included in the members page for the year 2022-23. There is no hard deadline, but please try to
        fill this out asap!
    </p>
    <a href="https://forms.gle/9QHFH7jxDFaccBXj7">
        <p>Link to google form.</p>
    </a>
    Feel free to email / message me if you have any questions: <a
        href="mailto:ps2245@cornell.edu">ps2245@cornell.edu</a>

    <p><span style="font-size:large;"><span style="color:#B22222;"><strong>Upcoming Performances</strong></span></span>
    </p>

    <p>Come check us out!</p>

    <p><em></em></p>

    <ul>
        <li>Night Market
            - Friday November 5th, 6:00 - 10:00 pm</li>
        <!-- <li>If you are interested in performing, please message&nbsp;<a
                data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/kenton.wu.56&amp;source=gmail&amp;ust=1663186673708000&amp;usg=AOvVaw1qkWYRH6LJ0FY0jI8Cl2Eb"
                href="https://www.facebook.com/kenton.wu.56" target="_blank">Kenton&nbsp;</a>or&nbsp;<a
                data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/altea.rose.96&amp;source=gmail&amp;ust=1663186673708000&amp;usg=AOvVaw1mCZLjFoIQWKnObGQUnIAj"
                href="https://www.facebook.com/altea.rose.96" target="_blank">Taea&nbsp;</a>by 9/16</li> -->
    </ul>

    <p><span style="color:#B22222;"><span style="font-size:large;"><strong>Facebook Announcements</strong></span></span>
    </p>

    <p>Our most up-to-date announcements can be found in our Facebook Announcements group chat. If you are not already
        in it, please message&nbsp;<a
            data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/kenton.wu.56&amp;source=gmail&amp;ust=1663186673708000&amp;usg=AOvVaw1qkWYRH6LJ0FY0jI8Cl2Eb"
            href="https://www.facebook.com/kenton.wu.56" target="_blank">Kenton&nbsp;</a>or&nbsp;<a
            data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/etemfa.chen&amp;source=gmail&amp;ust=1663186673708000&amp;usg=AOvVaw06w648HyO-BFQC4APTfSCQ"
            href="https://www.facebook.com/etemfa.chen" target="_blank">Ethan&nbsp;</a>to join.</p>

    <p><span style="color:#B22222;"><span style="font-size:large;"><strong>Links to Socials and Google
                    Calendar</strong></span></span></p>

    <p><a href="https://www.facebook.com/cornellwushuclub/"><img src="cid:facebook" alt="facebook"
                style="height: 25px; width: 25px;" /></a>&nbsp; &nbsp; <a
            href="https://www.instagram.com/cornellwushu/?hl=en"><img src="cid:instagram" alt="instagram"
                style="height: 25px; width: 25px;" /></a>&nbsp; &nbsp; <a
            href="https://www.youtube.com/user/CornellWushu"><img src="cid:youtube" alt="youtube"
                style="height: 25px; width: 25px;" /></a>&nbsp; &nbsp; <a
            href="https://cornellwushu.wordpress.com/"><img src="cid:website" alt="official website"
                style="height:25px; width: 25px;" /></a>&nbsp; &nbsp; <a
            href="https://calendar.google.com/calendar/u/1?cid=Y29ybmVsbHd1c2h1QGdtYWlsLmNvbQ"><img
                src="cid:google-calendar" style="height: 25px; width: 25px;"
                alt="calendar for all our upcoming events" /></a></p>

    <hr />
    <p>Reply "leave" to be removed from the listserv. If you have any questions, feel free to contact us at&nbsp;<a
            href="mailto:cornellwushu@gmail.com" target="_blank">cornellwushu@gmail.com</a>, our public Facebook group,
        or just message me on Facebook. I am looking forward to seeing everyone again!</p>

    <p>
        See you all soon,<br />
        Pratyush Sudhakar<br />
        Cornell Wushu Secretary
    </p>
    <div style="display: block; align-items: center;align-content: center;align-items: center;">
        <img src="cid:gif"
            style="height: 100px; width: 100px;margin-top: auto;margin-bottom: 3px;align-self: center;" />
        <h1
            style="color:#B22222; align-self: center; margin-top: auto;margin-bottom: auto;font-family: 'Fira Sans'; font-size: xx-large;padding-top: 2px;">
            Cornell Wushu</h1>
    </div>
</body>

</html>