<html>

<head>
    <title></title>
</head>

<body class="vsc-initialized" data-gr-ext-installed="" data-new-gr-c-s-check-loaded="14.1080.0">
    <p>Hi everyone!</p>

    <p>I hope the semester is going good for y'all, and you are excited for <b>Apple Fest</b> this weekend! We will be
        going to the Apple Fest this weekened (more details below.) Please come and join us!

        <hr />
    <p><span style="color:#B22222;"><span style="font-size:large;"><strong>This
                    Week's&nbsp;Practice&nbsp;Schedule</strong></span></span></p>

    <p>This is our practice schedule for the week, starting today {{ monday }}.&nbsp;</p>

    <ul>
        <li>Monday ({{ monday }}) 7:30-9:00 pm at Barton Hall</li>
        <li>Friday ({{ friday }}) 6:50-8:20 pm at Helen Newman Dance Studio (accessed through basketball court)</li>
        <li>Saturday ({{ saturday }}) 7:30-9:00 pm at Barton Hall</li>
    </ul>

    <p><span style="color:#B22222;"><span style="font-size:large;"><strong>Upcoming Socials</strong></span></span></p>

    <p><em>Apple Fest! - Downtown, Ithaca on Saturday {{ saturday }}&nbsp;2:00 - 5:00 pm</em></p>
    <p style="margin-left: 40px;">We are planning to go apple picking this weekend in Downtown. We will going there as a
        group. Pleae join us if you can! Apple Fest is fun!
    </p>

    <p><span style="color:#B22222;"><span style="font-size:large;"><strong>Wushu Bios 2022-23</strong></span></span>
    </p>

    <p>We will soon be updating the website. If you'd like to be in the spotlight &#128521;, fill out the form below to
        have your bios included in the members page for the year 2022-23. There is no hard deadline, but please try to
        fill this out by midnight October 12th!
    </p>
    <a href="https://forms.gle/9QHFH7jxDFaccBXj7">
        <p>Link to google form.</p>
    </a>
    Feel free to email / message me if you have questions: <a href="mailto:ps2245@cornell.edu">ps2245@cornell.edu</a>

    <p><span style="font-size:large;"><span style="color:#B22222;"><strong>Upcoming Performances</strong></span></span>
    </p>

    <p>Come check us out!</p>

    <p><em></em></p>

    <ul>
        <li>Mid Autumn Festival <br />
            Friday 9/30 8:00 pm -12:00 am at Ho Plaza</li>
        <!-- <li>If you are interested in performing, please message&nbsp;<a
                data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/kenton.wu.56&amp;source=gmail&amp;ust=1663186673708000&amp;usg=AOvVaw1qkWYRH6LJ0FY0jI8Cl2Eb"
                href="https://www.facebook.com/kenton.wu.56" target="_blank">Kenton&nbsp;</a>or&nbsp;<a
                data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/altea.rose.96&amp;source=gmail&amp;ust=1663186673708000&amp;usg=AOvVaw1mCZLjFoIQWKnObGQUnIAj"
                href="https://www.facebook.com/altea.rose.96" target="_blank">Taea&nbsp;</a>by 9/16</li> -->
    </ul>

    <p><span style="color:#B22222;"><span style="font-size:large;"><strong>Facebook Announcements</strong></span></span>
    </p>

    <p>Our most up-to-date announcements can be found in our Facebook Announcements group chat. If you are not already
        in it, please message&nbsp;<a
            data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/kenton.wu.56&amp;source=gmail&amp;ust=1663186673708000&amp;usg=AOvVaw1qkWYRH6LJ0FY0jI8Cl2Eb"
            href="https://www.facebook.com/kenton.wu.56" target="_blank">Kenton&nbsp;</a>or&nbsp;<a
            data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/etemfa.chen&amp;source=gmail&amp;ust=1663186673708000&amp;usg=AOvVaw06w648HyO-BFQC4APTfSCQ"
            href="https://www.facebook.com/etemfa.chen" target="_blank">Ethan&nbsp;</a>to join.</p>

    <p><span style="color:#B22222;"><span style="font-size:large;"><strong>Links to Socials and Google
                    Calendar</strong></span></span></p>

    <p><a href="https://www.facebook.com/cornellwushuclub/"><img src="cid:facebook" alt="facebook"
                style="height: 25px; width: 25px;" /></a>&nbsp; &nbsp; <a
            href="https://www.instagram.com/cornellwushu/?hl=en"><img src="cid:instagram" alt="instagram"
                style="height: 25px; width: 25px;" /></a>&nbsp; &nbsp; <a
            href="https://www.youtube.com/user/CornellWushu"><img src="cid:youtube" alt="youtube"
                style="height: 28px; width: 28px;padding-top: 1px;" /></a>&nbsp; &nbsp; <a
            href="https://cornellwushu.wordpress.com/"><img src="cid:website" alt="official website"
                style="height:30px; width: 30px;" /></a>&nbsp; &nbsp; <a
            href="https://calendar.google.com/calendar/u/1?cid=Y29ybmVsbHd1c2h1QGdtYWlsLmNvbQ"><img
                src="cid:google-calendar" style="height: 25px; width: 25px;"
                alt="calendar for all our upcoming events" /></a></p>

    <hr />
    <p>Reply "leave" to be removed from the listserv. If you have any questions, feel free to contact us at&nbsp;<a
            href="mailto:cornellwushu@gmail.com" target="_blank">cornellwushu@gmail.com</a>, our public Facebook group,
        or just message me on Facebook. I am looking forward to seeing everyone again!</p>

    <p>
        See you all soon,<br />
        Pratyush Sudhakar<br />
        Cornell Wushu Secretary
    </p>
    <div style="display: block; align-items: center;align-content: center;align-items: center;">
        <img src="cid:gif"
            style="height: 100px; width: 100px;margin-top: auto;margin-bottom: 3px;align-self: center;" />
        <h1
            style="color:#B22222; align-self: center; margin-top: auto;margin-bottom: auto;font-family: 'Fira Sans'; font-size: xx-large;padding-top: 2px;">
            Cornell Wushu</h1>
    </div>
</body>

</html>